/* UNIVERSAL SELECTORS */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pageBody {
    background-color: darkcyan;
}

header {
    background-color: darkslategray;
    color: cyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .2em solid black;
    padding: .1em 3em;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    -webkit-text-stroke: .05em black;
}

nav a{
    text-decoration: none;
    color: cyan;
    padding: .1em 3em;
    
}
/* INDEX/HOME PAGE STYLING */
.greeting {
    font-size: large;
    color: cyan;
    display: block;
    text-align: center;
    margin: 1em 2em;
}

.greeting h2 {
    font-size: 3em;
    -webkit-text-stroke: .05em black;
    
}

.blog_post {
    background-color: darkcyan;
    display: grid;
    grid-template-rows:auto;
    border: .2em solid black;
    margin: 1em 7em;
    
}
.blog_post p {
    padding: .1em .5em;
}

.blog_header {
    background-color:darkslategray;
    color: darkcyan;
    display: flex;
    justify-content: space-between;
    border-bottom: .2em solid black;
    padding: .5em;
}

/* DASHBOARD PAGE STYLING */
.newPost {
    color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    -webkit-text-stroke: .1em black;
}
.newPost button {
    font-size: 1em;
    margin: 1.5em .5em;
    padding: .1em .5em;
}
/* Styles the new post stuff on /dashboard */
.newPostBox {
    background-color: darkslategray;
    display: grid;
    grid-template-rows:auto;
    width: 40%;
    border: .2em solid black;
    margin: 0 auto;
    place-items: center;
}

.newPostTitle {
    background-color: darkcyan;
    color: black;
    width: 70%;
    border: .2em solid black;
    margin: 1rem 9rem 2rem 9rem;
}
.newPostTitle::placeholder {
    color: black;
}
.newPostText {
    background-color: darkcyan;
    color: black;
    border: .2em solid black;
    resize: vertical;
    width: 90%;
    margin: 0px 2em 2em 2em;
}
.newPostText::placeholder {
    color: black;
}
.newPostSubmit {
    width: 20%;
}

/* LOGIN PAGE STYLING */
.memberBox {
    background-color: darkcyan;
    border: .2em solid black;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.signUp,
.login {
    margin: 0px;
}

.signUpHeader,
.loginHeader {
    background-color: darkslategray;
    color: darkcyan;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: .2em solid black;
}
.signUpForm button,
.loginForm button {
    margin: 10px;
}